pipeline/sstIf.json
{
	"name": "sstIf",
	"properties": {
		"activities": [
			{
				"name": "CheckYearandMonth",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SubstringMonth",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SubstringYear",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(contains(variables('YYYY'), variables('YearArray')), contains(variables('MM'), variables('MonthArray')))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SubstringYear",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "YYYY",
					"value": {
						"value": "@substring(pipeline().parameters.yearMonth, 0, 4)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SubstringMonth",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "MM",
					"value": {
						"value": "@substring(pipeline().parameters.yearMonth, 3, 2)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"activities": [
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": []
						},
						{
							"name": "Set variable4",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": []
						},
						{
							"name": "If Condition2",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set variable3",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set variable4",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": []
						}
					]
				}
			}
		],
		"parameters": {
			"yearMonth": {
				"type": "string",
				"defaultValue": "202303"
			}
		},
		"variables": {
			"YYYY": {
				"type": "String"
			},
			"MM": {
				"type": "String"
			},
			"MonthArray": {
				"type": "Array",
				"defaultValue": [
					"01",
					"02",
					"03",
					"04",
					"05",
					"06",
					"07",
					"08",
					"09",
					"10",
					"11",
					"12"
				]
			},
			"YearArray": {
				"type": "Array",
				"defaultValue": [
					"2021",
					"2022",
					"2023",
					"2024",
					"2025"
				]
			}
		},
		"annotations": []
	}
}